@media screen and (min-width: 768px) {
  .advantages-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .advantages-title .item {
    flex-basis: calc((100% - 30px) / 2);
    margin-right: 30px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0px;
    }
  }
}

.advantages-title .item::before {
  content: "";
  display: block;
  height: 120px;
  background-image: url(../images/Group.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.advantages-title .clock-item::before {
  background-image: url(../images/clock.svg);
}

.advantages-title .diagram-item::before {
  background-image: url(../images/diagram.svg);
}

.advantages-title .astronaut-item::before {
  background-image: url(../images/astronaut.svg);
}

.advantages-title .title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.advantages-title .lead {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
