.overlay {
  max-width: 1600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(47, 48, 58, 0.4)),
      to(rgba(47, 48, 58, 0.4))
    ),
    url(../images/overlay.jpg),
    -webkit-gradient(linear, left top, right top, from(#c4c4c4), to(#c4c4c4));
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/overlay.jpg), linear-gradient(to right, #c4c4c4, #c4c4c4);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 118px 60px;
}

.hero {
  text-align: center;
}

.hero-title {
  max-width: 360px;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  margin-top: 0px;
  margin-bottom: 30px;
  text-transform: uppercase;
}
