.overlay {
  max-width: 1600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(47, 48, 58, 0.4)),
      to(rgba(47, 48, 58, 0.4))
    ),
    url(../images/mobile/mobile-hero.jpg),
    -webkit-gradient(linear, left top, right top, from(#c4c4c4), to(#c4c4c4));
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/mobile/mobile-hero.jpg),
    linear-gradient(to right, #c4c4c4, #c4c4c4);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 115px 0px;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(47, 48, 58, 0.4)),
        to(rgba(47, 48, 58, 0.4))
      ),
      url(../images/mobile/mobile-hero@2x.jpg),
      -webkit-gradient(linear, left top, right top, from(#c4c4c4), to(#c4c4c4));
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/mobile/mobile-hero@2x.jpg),
      linear-gradient(to right, #c4c4c4, #c4c4c4);
  }

  // tablet
  @media screen and (min-width: 768px) {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(47, 48, 58, 0.4)),
        to(rgba(47, 48, 58, 0.4))
      ),
      url(../images/tablet/tablet-hero.jpg),
      -webkit-gradient(linear, left top, right top, from(#c4c4c4), to(#c4c4c4));
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/tablet/tablet-hero.jpg),
      linear-gradient(to right, #c4c4c4, #c4c4c4);

    padding: 115px 0px;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: -webkit-gradient(
          linear,
          left top,
          right top,
          from(rgba(47, 48, 58, 0.4)),
          to(rgba(47, 48, 58, 0.4))
        ),
        url(../images/tablet/tablet-hero@2x.jpg),
        -webkit-gradient(linear, left top, right top, from(#c4c4c4), to(#c4c4c4));
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/tablet/tablet-hero@2x.jpg),
        linear-gradient(to right, #c4c4c4, #c4c4c4);
    }
  }

  // desctop

  @media screen and (min-width: 1200px) {
    height: 600px;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(47, 48, 58, 0.4)),
        to(rgba(47, 48, 58, 0.4))
      ),
      url(../images/Desktop/hero.jpg),
      -webkit-gradient(linear, left top, right top, from(#c4c4c4), to(#c4c4c4));
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/Desktop/hero.jpg),
      linear-gradient(to right, #c4c4c4, #c4c4c4);

    padding: 200px 0px;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: -webkit-gradient(
          linear,
          left top,
          right top,
          from(rgba(47, 48, 58, 0.4)),
          to(rgba(47, 48, 58, 0.4))
        ),
        url(../images/Desktop/hero@2x.jpg),
        -webkit-gradient(linear, left top, right top, from(#c4c4c4), to(#c4c4c4));
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/Desktop/hero@2x.jpg),
        linear-gradient(to right, #c4c4c4, #c4c4c4);
    }
  }
}

.hero {
  text-align: center;
}

.hero-title {
  // max-width: 360px;
  color: $white-text;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  margin-top: 0px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;

    font-size: 44px;
    line-height: 1.36;
  }
}
