footer {
  background-color: #2f303a;
}
.container.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .container.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;

    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .for-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}

.logo-footer {
  color: $accent-color;
  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  display: inline-block;
  margin-bottom: 20px;
}

.studio-footer {
  color: $white-text;
}
@media screen and (max-width: 1199px) {
  .container-adress-footer {
    margin-bottom: 60px;
  }
}

.title.footer {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $white-text;
  margin-bottom: 20px;
}

.social-link.footer {
  fill: $white-text;
  background-color: rgba(255, 255, 255, 0.1);
  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.adress-title .location {
  color: $white-text;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.adress-title .link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 8px;
  display: inline-block;
}
@media screen and (max-width: 1199px) {
  .container-list-footer {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .container-list-footer {
    margin-left: 70px;
  }
}
