body {
  background-color: $white-text;
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
// .container

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
// Section

.section {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    margin-bottom: 94px;
  }
}

.section-title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;

  &.centered {
    text-align: center;
  }
}
@media screen and (max-width: 1199px) {
  .section-title {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 30px;

    text-align: center;

    color: #212121;
  }
}

.is-hidden {
  display: none;
}
